
.gif-popular{
  text-decoration: none;
  color:coral;
  cursor: pointer;
  list-style: none;
  text-align: start;
  margin-left: -27px;
}

.App-title{
  margin-bottom: 0;
}

.list-gifs-populars{
  margin: 0;
}