.Gif{
  border: 1px solid white;
  border-radius: 6px;
  margin: 16px;
  padding: 0;
  text-decoration: none;
  color:aliceblue;
  background-color:cadetblue;
}



.Gif img {
  object-fit: contain;
  border-radius: 10px;
  margin: 0;
}